
body{
    text-align: center;
    font-size: large;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    }

a {
    color: orangered;
}

a:hover {
    color: orangered;
    font-weight: bold;
    background-color: sandybrown;
}
thead {
    background-color: orangered;
    color: sandybrown;
    text-align: center;
}

tbody {
    background-color:sandybrown;
    color: saddlebrown;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: .85;
    padding-bottom: .5;
}
